.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f9fa;
  color: #212529;
  padding: 1.3rem;
}

.error h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.error p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
