.error {
  justify-content: center;
  display: flex;
  margin: 10rem 0 0 0;
  color: red;
}

.customDivider {
  border: 0;
  height: 0.06rem;
  background: #ccc;
  margin: 1rem 0.5rem;
}

.movieItem:hover {
  background-color: lightgrey;
  border-radius: 0.5rem;
  cursor: pointer;
}

.votes {
  margin: 1rem 0;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 2rem 0 5rem 0;
  z-index: 1;
}

.quickSearch {
  margin: 0 0 1rem 0;
  display: flex;
  justify-content: space-evenly;
}
