.outerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #282c34;
  height: 4rem;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.3);
}

.innerContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 2rem;
  color: #ffffff;
}
