.container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  color: red;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
}

.title {
  display: flex;
}
