.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.wrapper h1 {
  padding-left: 3rem;
  font-weight: 700;
}

.credentialsContainer {
  width: 100%;
  padding: 2rem;
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: white;
}

.credentials {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.credentials h3 {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.buttonWrapper {
  margin-left: 3rem;
  margin-top: 2rem;
  width: 100%;
}

.button {
  width: 100%;
}
.button:nth-child(2) {
  margin-top: 1rem;
}

.signupTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.buttonSignUpWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}
