.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  margin: 1.5rem;
  color: red;
}

.buttonWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10rem 25rem 5rem 25rem;
}

.button {
  margin: 0 45rem 0 45rem;
  color: red;
  background-color: white;
}

.button:hover {
  background-color: black;
}
